:root {
  --text: #3a3540;
  --text-h: #08060d;
  --bg: #faf9f6;
  --border: #e5e4e7;
  --accent: #aa3bff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --serif: Georgia, 'Iowan Old Style', 'Palatino Linotype', serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d6d3d9;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
